body {
    display: flex;
    background-color: #2f2f2f !important;
    font-family: 'Roboto', sans-serif;
}

#app {
    background-color: #2f2f2f;
}

#alarms [id*="alarm"] {
    border: 0.1px solid rgb(13,110,253);
}

.toggles {
    display: flex;
    color: #152b3c
}

.toggles button {
    outline: unset !important;
    border: unset !important;
}

.toggles svg {
    color: rgb(13,110,253);
    transform: scale(1.9);
}

.toggles svg:hover {
    transform: scale(2);
    cursor: pointer;
}

.toggles .excludeAlarm svg {
    transform: scale(1.3);
}

.toggles .excludeAlarm svg:hover {
    transform: scale(1.4);
}

.backup {
    color: #0a8556;
    color: #152b3c;
}

#alarmName {
    outline: 0;
}

.addAlarm svg {
    transform: scale(1.5);
}
