@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

#board, #reset {
    margin: auto;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 5px;
    width: 450px;
    height: 450px;
    margin-top: 15px;
}


#board > button {
    font-size: 50px;
}

#board > button[id*="btn"] {
    font-size: 64px;    
    font-family: 'Bungee Spice', cursive;
}